<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"  >
    <link rel="stylesheet" href="../css/style.css">
    <title>About Me</title>
</head>
<body>
    <h2>About Me</h2>
    <hr>
    <div class="box">
        <table>
            <tr>
                <th>Name: </th>
                <td>Akshith Reddy Yalla</td>
            </tr>
            <tr>
                <th>Designation: </th>
                <td>Associate Software Engineer</td>
            </tr>
            <tr>
                <th>Company: </th>
                <td>Zemoso Technologies</td>
            </tr>
            <tr>
                <th>Professional Summary: </th>
                <td>Software Engineer with 2+ years of experience using Java Script and Python based web technologies aspiring to be part of progressive and challenging environment.
                    I have a Bachelor's degree focused in Electronics and instrumentation Engineering from VNR.</td>
            </tr>
            <tr>
                <th>Interests: </th>
                <td>Photography, Cricket, Football</td>
            </tr>
        </table>
    </div>
</body>