<link rel="stylesheet" href="../css/style.css">

<h2>Contact Information</h2>
<hr>
<div class="box">
    <table>
        <tr>
            <th>Phone No. : </th>
            <td>+91 9550819506</td>
        </tr>
        <tr>
            <th>Email Id: </th>
            <td>akshithreddyyalla@gmail.com</td>
        </tr>
    </table>
<br>
<div class="contact">
    <label for="name"><strong>Name:</strong></label>
    <input type="text" class="name" id="name" placeholder="Your Name">
    <label for="message"><strong>Message:</strong></label>
    <input type="text" class="message" id="message" placeholder="Enter your message">
    <button type="submit" id="submit">Submit</button>
    <br><br>
    <p class="message_status">You have successfully sent the message!</p>
</div>
</div>

