<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"  >
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="box">
        <div class="profile-image">
            <img src="../images/Akshith.jpg">
        </div>

            <h2>Hello, Welcome</h2>
            <div>
                <p>This is my home page of the portfolio and there are also other tabs regarding myself.</p>
                <p>Please feel free to go through it.</p>
            </div>
    </div>
</body>
